<div class="container-answer-page">

  <h1>Stupid Coaching</h1>
  <div class="container-ask">
    <p><%=@question%></p>
    <p>-You</p>
  </div>

  <div class="container-answer">
    <p><%=@answer%></p>
    <p>-Your Coach</p>
  </div>

  <a> <%= link_to "Ask a new question", ask_path %> </a>
</div>
