// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container {
  text-align: center;
}

.container-ask {
    border-left: 4px solid #DDDDDD;
}

.container-answer {
  background-color: #FFFBE1;
  border-left: 4px solid #DDDDDD;
}
